@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-openSans: var(--font-openSans);
  --font-lora: var(--font-lora);
  /* Chart colors */
  --color-background: #ffffff;
  --color-dark: #21252c;
  --color-foreground: #272B32;
  --color-card: #f8f9fa;
  --color-primary: #94126a;
  --color-secondary: #b5338a;
  --color-muted: #e9ecef;
  --color-muted-foreground: #6c757d;
  --color-accent: #d670b3;
  --color-destructive: #dc3545;
  --color-border: #dee2e6;
  --color-input: #ced4da;
  --color-ring: #adb5bd;
  /*color- Semantic colors */
  --color-success: #198754;
  --color-info: #0dcaf0;
  --color-warning: #ffc107;
  --color-danger: #dc3545;
}

@layer base {
  * {
    @apply border-border outline-input/50;
  }

  body {
    @apply bg-white text-black;
    font-family: var(--font-openSans);
  }
}